.table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    font-family: system-ui,
    -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .tableRowHeader {
    background-color: transparent;
    transition: all 0.25s ease;
    border-radius: 5px;
  }
  
  .tableHeader {
    background-color: #f1f1f1;
    padding: 12px;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    color: #2c3e50;
  }
  
  .tableHeader:first-child {
    border-top-left-radius: 10px;
  }
  
  .tableHeader:last-child {
    border-top-right-radius: 10px;
  }
  
  .tableRowItems {
    cursor: auto;
  }
  
  .tableRowItems:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .tableCell {
    padding: 12px;
    font-size: 16px;
    color: black;
  }